.container{
    display: grid;
    height: 400px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,400px);
}
.box1{
    background-color: brown;
    overflow: hidden;
}
.box2{
    background-color: green;   
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: blue;
}
.box5{
    background-color: gainsboro;
}
.box6{
    background-color: red;
}
.box7{
    background-color: palevioletred;
}
.box8{
    background-color: sienna;
}
.box9{
    background-color: blueviolet;
}